// Colors
$primary-color: #03709e;
$secondary-color: #2ecc71;
$white-color: #fff;
$error-color: #e74c3c;
$background-color: #e1eef3;

// Fonts
$primary-font: 'Arial', sans-serif;
$secondary-font: 'Helvetica', sans-serif;
