body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Gill Sans", sans-serif;
}

strong {
  font-family: "Goudy Bookletter 1911", sans-serif;
}
